<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
        <div class="slider-item">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-md-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
                    <img class="one-third order-md-last img-fluid" src="~/Assets/images/p1.png" alt="">
                    <div class="one-forth d-flex align-items-centere">
                        <div class="text">
                            <span class="subheading">#New Arrival</span>
                            <div class="horizontal">
                                <h1 class="mb-4 mt-3">Computer And Mobile</h1>
                                <p class="mb-4">Explore our latest collection of computers, laptops, and smartphones. We offer top-quality products from leading brands to meet all your tech needs.</p>

                                <p><a href="#" class="btn-custom">Discover Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item">
            <div class="overlay"></div>
            <div class="container-fluid p-0">
                <div class="row d-flex no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
                    <img class="one-third order-md-last img-fluid w-50" src="~/Assets/images/p2.png" alt="">
                    <div class="one-forth d-flex align-items-center">
                        <div class="text">
                            <span class="subheading">#New Arrival</span>
                            <div class="horizontal">
                                <h1 class="mb-4 mt-3">New Gaming Computer 2024</h1>
                                <p class="mb-4">Discover the power and performance of our latest Gaming Computer for 2024. Equipped with cutting-edge hardware, fast processing speeds, and immersive graphics, this machine is designed to elevate your gaming experience to the next level.</p>

                                <p><a href="#" class="btn-custom">Discover Now</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>